@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Lato');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Averia Serif Libre', serif;
  color: #555555;
}

a {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid;
}

a:visited {
  text-decoration: none;
  color: #222222;
  border-bottom: 1px solid;
}

a:hover {
  text-decoration: none;
  color: #3091E8;
  border-bottom: 1px solid;
}

a[class="shield"] {
  text-decoration: none;
  border-bottom: 0px solid;
}

pre {
  background-color: #FFFDE3;
  padding: 1rem;
}

.subheader {
  font-family: 'Averia Serif Libre', serif;
  font-size: 1.3rem;
}

.container {
  width: 100%;
}